#include "Resources.h"

// ---------------------------------------------------------------------

IDI_ICON        ICON        "Resources\\Iconn.ico"
IDC_CURSOR      CURSOR      "Resources\\GamerCursor.cur"

// ---------------------------------------------------------------------


